<!-- <h1><fa name="cog" animation="spin"></fa> {{ title }} <app-star></app-star></h1> -->

<!-- <bootstrap-card>
  <ng-container class="heading">
    <app-star
      [is-favorite]="post.isFavorite"
      (change)="onFavoriteChanged($event)"
    ></app-star>
    Heading
  </ng-container>
  <ng-container class="body">
    <h3>Body Title</h3>
    <p>Body Content</p>
  </ng-container>
</bootstrap-card>
<fontawesome-like
  [isActive]="tweet.isLiked"
  [likesCount]="tweet.likesCount"
></fontawesome-like>
<app-star></app-star>
<app-input> </app-input>
<app-courses></app-courses>
<app-form></app-form> -->

<!-- *ngIf directive-->

<!-- <div *ngIf="courses.length > 0; then listOfCourses; else noCourses"></div>
<ng-template #listOfCourses> List of courses</ng-template>
<ng-template #noCourses> No courses found</ng-template> -->

<!-- property binding: hidden attr -->

<!-- <div [hidden]="courses.length === 0">List of Courses</div>
<div [hidden]="courses.length > 0">No courses found</div> -->

<!-- *ngSwitchCase directive -->
<!-- 
<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode === 'map'"
      (click)="viewMode = 'map'"
      >Map View</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode === 'list'"
      (click)="viewMode = 'list'"
      >List View</a
    >
  </li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>No View Content</div>
</div> -->

<!-- *ngFor directive -->
<!-- <button (click)="onAdd()">Add</button>

<ul>
  <li *ngFor="let course of courses; index as i">
    {{ i }} - {{ course.name }}
    <button (click)="onRemove(course)">Remove</button>
    <button (click)="onChange(course)">Update</button>
  </li>
</ul> -->

<!-- <ul>
  <li *ngFor="let course of courses; even as isEven">
    {{ course.name }} <span *ngIf="isEven">(Even)</span>
  </li>
</ul> -->

<!-- <button (click)="loadBooks()">Load Books</button>
<br />
<ul>
  <li *ngFor="let book of books; trackBy: trackBook">{{ book.name }}</li>
</ul> -->

<!-- <zippy title="Shipping Details">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit
    semper suscipit. Etiam vulputate leo orci, a maximus libero commodo eget.
    Aliquam convallis interdum turpis. Maecenas sagittis at ante at cursus.
    Pellentesque purus risus, viverra in justo efficitur, rutrum tempus odio.
    Suspendisse euismod congue varius. Integer quis dolor sit amet nisl pulvinar
    ultricies.
  </p>
  <p>
    Maecenas quam purus, pretium vel fringilla non, porta a risus. Aenean ornare
    ex erat, a posuere nulla auctor et. Pellentesque imperdiet augue nec sem
    dictum vulputate. Morbi sodales, dui et maximus interdum, lectus mi
    pellentesque nisi, eget mattis est est quis augue. Ut id venenatis mauris.
    Quisque nec dignissim nisi, vitae semper nulla. Fusce laoreet diam neque,
    vitae consectetur enim imperdiet et.
  </p>
</zippy> -->

<!-- <contact-form></contact-form> -->
<!-- <course-form></course-form> -->

<!-- <new-course-form></new-course-form> -->
<!-- <signup-form></signup-form> -->

<!-- <change-password></change-password> -->
<!-- <change-password-form></change-password-form> -->

<!-- <posts></posts> -->
<!-- <followers></followers> -->
<!-- <navbar></navbar>
<br />
<router-outlet></router-outlet> -->

<!-- <todos></todos> -->

<input type="text" [appInputFormat]="'uppercase'" class="form-control" />
